<section>
    <div class="container"  >
        <div class="ordersuccess-body " style="border-style: ridge;" >
            <div class="ordersuccess-content ">
             <div class="heading ">
                 <h3  class="text-center text-success" style="margin-left: 5rem;" >Order Placed Successfully...</h3>
             </div>
             <div class="ordersuccess-animation" style="margin-left: 23rem;">
                 <lottie-player src="https://assets9.lottiefiles.com/packages/lf20_evNjeW.json" mode="bounce" background="transparent"  speed="1"  style="width: 400px; height: 400px;"  loop  autoplay></lottie-player>
                 <a href="/orders" class="ordersuccess-btn  btn btn-primary " style="margin-left: 10rem;">View Orders</a>
             </div>
            </div>
            
        </div>
    </div>
</section>