 
<div class="row">
    <div class="col-md-6 m-auto">
        <div class="container mt-5">
            <a class="login-brand ml-auto" href="#"><img style=" height: 8rem; margin-left: 5rem;" src="https://previews.dropbox.com/p/thumb/ABSn9mhjorcVNTzi0I3Wi1xj23DSm_X4w3d5S28An8YwIHPi5eExV4kOVg_LDeSBDvjTMQoNJGUVn-YAHfaAbY6woqZovDATAtd-zgPqVgdTxU52r8OjpueFdn4kdAmKWvsS67SAqoegFF8N6XXlAlmmCSV5io_E6zQx2jxLwCy0Gkqx3iY_HaLTSANcbf7xGEjZ59smFxJBhpd2YMTj4Ooko14L14UlsDKixp8_uT_oHxgezqHXV6ZEICia1b210mP4z0SDpWSOtO4_HlwrCoaBdjhm_GBUp_3Mbyq66TcGCyLj6fUXJI3BVCv92-fuY9T0F6WJ-DanKSHTQ9pMSwoo/p.png?size=256x256&size_mode=2" alt="" class="src"></a><br>
            <h5 class="text-left p-2">CREATE NEW ACCOUNT</h5> 
            
            <form action="/signup" method="post">
              <div class=" form-group mb-3">
                  <label for="validationCustom01">First name</label>
                  <input type="text" class="form-control" name="Fname" id="validationCustom01" placeholder="Enter First Name" required>
                  <div class="valid-feedback">
                        Looks good!
                  </div>
             </div>
             <div class="form-group mb-3">
                  <label for="validationCustom02">Last name</label>
                  <input type="text" name="Lname" class="form-control" id="validationCustom02" placeholder="Enter Last Name"  required>
             <div class="valid-feedback">
                    Looks good!
             </div><br>
               <div class="form-group mb-3">
                   <label for="exampleInputEmail1">Email address</label>
                   <input type="email" name="Email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Email">
                   <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
               </div>
               <div class="form-group mb-3">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" name="Password" class="form-control" id="exampleInputPassword1" placeholder="Enter Password">
               </div>
               
               
               <button type="submit" class="btn btn-primary float-center" style="margin-left: 14rem;  width: 11rem;">SIGN UP</button><br>
               <a class="float-center" href="/login">Already you have an Account?</a>
           </form>
        </div> 
    </div>
   
</div>