body {
  
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #060025;
}

.nav-link{
  font-family: 'Zen Tokyo Zoo', cursive;
  color:rgb(1, 30, 41);
}

.home-slider{
  visibility: hidden;
  width: 1500px;
  margin: 0px;
}




.info__card{
  padding: 10px 10px;
  position: relative;
  height: 160px;
}
.info__card *{
  margin-bottom: 10px;
}
.precio{
  text-decoration: line-through;
  color: red;
}
.discount{
  color: black;
  font-weight: bold;
  float: right;
  font-size: 1.25em;
}
.agregar-carrito{
  background: #00B2BD;
  padding: 5px 10px;
  border-radius: 6px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  font-size: 0.8em;
  position: absolute;
  bottom: 0;
}
.agregar-carrito:hover{
  background: #00828a;
  color: white;
}
.imagen__curso{
  height: 10rem;
  width: 11rem;
  margin-left: 2rem;
}


.section-cart{
  
  height:100%;
  width: 100%;
}

/* <!-- category-section --> */


.category-row{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
  margin-top: 10px;
  text-align: center;
}
.category-col{
  padding: 10px 0px;
  cursor: pointer;
  color: rgb(85,83,83);
}

.category-col img{
  width: 64px;
  height: 64px;
}
.category-col h5:hover{
 color: #2874f0;
}
/* <!-- banner section --> */
.banner{

width: 100%;
overflow: hidden;

}
.slider{
 width: 4098;
 display: flex;
 flex-direction: row;
 position: relative;
 animation-name: slide;
 animation-duration: 15s;
 animation-iteration-count: infinite;
}

.slider img{
 width: 100%;
} 
@keyframes slide{
 0%{
     left: 0px;
 }
 26.66%{
     left: 0px;
 }
  33.33%{
     left: -1366px;
 }
  60%{
     left: -1366px;
 }
 66.66%{
     left: -2732px;
 }
 93.33%{
     left: -2732px;
 }


 100%{
     left: -4098px;
 }

}



/* common for all */

/* <!-- Mobile section --> */

.cards{
 box-shadow: rgb(177,174,174) 0px 0px 5px 1px;
 padding: 10px 0px;
 margin: 10px 5px;
 border-radius: 5px;
}
.common-heading{
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 5px 20px;
  margin-top: 20px;
  box-shadow: 0 1px 1px 0 rgb(0 0 0 /16%);
}
.common-heading-left h1{
  font-size: 20px;
  font-weight: 400;
  padding:auto;
}
.common-heading-left h2{
  font-size: 15px;
  padding: 5px 0px;
  color: rgb(145,141,138) ;
  font-weight: 200;
}
.common-heading-right button{
  width: 90px;
  height: 40px;
  font-size: 18px;
  background-color: #2874f0;
  border: none;
  color: white;
  border-radius: 2px;
}
.common-row{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  max-height: 366px;
  margin: 10px 0px;
}
.common-col{
  text-align: center;
  line-height: 22px;
}
.common-col img{
  width: 69px;
  height: 150px;
  transition: 300ms;
}
.common-col img:hover{
  transform: scale(0.9);
}
.cartOrder-img:hover{
  transform: scale(0.9);
}
.common-col h3,h4,h6{
  text-transform: capitalize;
  letter-spacing: 1px;
  cursor: pointer;
}
.common-col h3{
  margin-top: 10px;
  font-size: 16px;
}
.common-col h4{
  color: green;
  font-size: 14px;
  font-weight: 300;
}
.common-col h6{
 color: rgb(161,161,161);
 font-size: 12px;
 font-weight: 100;
}
.addtoCart__button:hover{
   background-color: darkgreen;
}


.footer__link{
  color: #fff;
  padding-top: 5rem;
  
}
.footer__social{
  color:#fff;
  padding:1rem;
  font-size: x-large;

}
.removeButton-cart:hover{
 border-color: red;
  background-color:rgb(210, 245, 245);
  text-align: center;
}
.cart_item_count:hover{
  background-color: rgb(197, 255, 197);
  cursor: pointer;
}
.cart_item_count{
  border-radius: 20%;
}


.payment__section{
  height: 15rem;
  margin-left: 9rem;
  margin-top: 15rem;
  
}
